* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container {
    display: flex;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
}

.div-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.div-element {
    flex: 1;
}

#buttons {
    height: 500px;
    width: 250px;
    border: 2px solid #000;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}