* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}

p {
    color: #1D9BF0;
}

body {
    background-color: rgb(0, 0, 0);
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container {
    display: flex;
    border: 1px solid #1D9BF0;
    width: 500px;
    height: 500px;
    border: 1px solid #1D9BF0;
}

.div-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid #1D9BF0;
}

.div-element {
    flex: 1;
    border: 1px solid #1D9BF0;
}

#buttons {
    height: 500px;
    width: 250px;
    border: 2px solid #1D9BF0;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn p {
    margin-bottom: 10px;
}

input,
button {
    height: 40px;
    width: 125px;
    padding: 5px;
    border: 2px solid #1D9BF0;
    background-color: unset;
    color: #1D9BF0;
}

footer {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: #1D9BF0;
}

img {
    color: #1D9BF0;
}